framework: net8.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Asp.Versioning.Mvc.ApiExplorer 8.0.0
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 8.0.2

nuget Microsoft.Extensions.Logging.Console 8.0.0
nuget Microsoft.Extensions.FileProviders.Embedded 8.0.2
nuget Microsoft.Extensions.Localization.Abstractions 8.0.2

nuget Newtonsoft.Json 13.0.3

nuget Swashbuckle.AspNetCore 6.7.3
nuget Swashbuckle.AspNetCore.Filters 8.0.2
nuget Swashbuckle.AspNetCore.Newtonsoft 6.7.3
nuget Swashbuckle.AspNetCore.Annotations 6.7.3
nuget Swashbuckle.AspNetCore.Swagger 6.7.3
nuget Swashbuckle.AspNetCore.SwaggerUI 6.7.3
nuget Swashbuckle.AspNetCore.SwaggerGen 6.7.3

nuget NJsonSchema 11.0.2

nuget NSwag.CodeGeneration.CSharp 14.1.0
nuget NJsonSchema.CodeGeneration.CSharp 11.0.2

nuget NSwag.CodeGeneration.TypeScript 14.1.0
nuget NJsonSchema.CodeGeneration.TypeScript 11.0.2

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.6
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Formatters.Json 5.0.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget Shouldly 4.2.1

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
