@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/sans/FlandersArtSans-Light.woff2) format("woff2"),url(../fonts/sans/FlandersArtSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/sans/FlandersArtSans-Regular.woff2) format("woff2"),url(../fonts/sans/FlandersArtSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/sans/FlandersArtSans-Medium.woff2) format("woff2"),url(../fonts/sans/FlandersArtSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/sans/FlandersArtSans-Bold.woff2) format("woff2"),url(../fonts/sans/FlandersArtSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/italic/FlandersArtSans-Light.woff2) format("woff2"),url(../fonts/italic/FlandersArtSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/italic/FlandersArtSans-Regular.woff2) format("woff2"),url(../fonts/italic/FlandersArtSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/italic/FlandersArtSans-Medium.woff2) format("woff2"),url(../fonts/italic/FlandersArtSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: Flanders Art Sans;
  src: url(../fonts/italic/FlandersArtSans-Bold.woff2) format("woff2"),url(../fonts/italic/FlandersArtSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: "Flanders Art Serif";
  src: url(../fonts/serif/FlandersArtSerif-Light.woff2) format("woff2"),url(../fonts/serif/FlandersArtSerif-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Flanders Art Serif";
  src: url(../fonts/serif/FlandersArtSerif-Regular.woff2) format("woff2"),url(../fonts/serif/FlandersArtSerif-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Flanders Art Serif";
  src: url(../fonts/serif/FlandersArtSerif-Medium.woff2) format("woff2"),url(../fonts/serif/FlandersArtSerif-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Flanders Art Serif";
  src: url(../fonts/serif/FlandersArtSerif-Bold.woff2) format("woff2"),url(../fonts/serif/FlandersArtSerif-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: vlaanderen-icon;
  src: url(../fonts/iconfont/vlaanderen-icon.ba7790bb.woff2) format("woff2"),url(../fonts/iconfont/vlaanderen-icon.f3f8cef3.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
